@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bf3131;
  --foreground: #ffffff;
  --transparent-black: rgba(0, 0, 0, 0.32);
  --rose: #bf3131;
  --beige: #fff5e1;
  --light-brown: #c39b63;
  --brown: #b8771c;
  --dark-brown: #8a5915;
  --light-green: #6baa75;
  --green: #046307;
  --dark-green: #365e32;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bf3131;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: neodgm;
  overflow-x: hidden !important;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

::-moz-selection {
  background: var(--light-green);
  color: #fff;
}
::selection {
  background: var(--light-green);
  color: #fff;
}
