@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #bf3131;
  --foreground: #ffffff;
  --transparent-black: rgba(0, 0, 0, 0.32);
  --rose: #bf3131;
  --beige: #fff5e1;
  --brown: #b8771c;
  --light-green: #046307;
  --green: #365e32;
  --dark-green: #6baa75;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #bf3131;
    --foreground: #ffffff;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: neodgm;
  overflow-x: hidden;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
